
body {
  font-family: Tahoma, Geneva, sans-serif;
  color:#959fb2;
  background-color: #ffffff;
  --background-image: linear-gradient(to top, #00cc00, #ccffcc 100%);
  --background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}


.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}


header {
  background: #f8f8f8;
  border: 1px solid #b3e6cc;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px 1px 2px #2a56d6, 5px 5px 3px #cccccc;
  margin: 5px;
  --background-image: linear-gradient(to bottom, #8080ff, #e6e6ff 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

.tickers {
  text-align:right;
  font-size:10pt;
}
.tickers div{
  display:inline;
  padding:5px;
}
.tick-button{
  cursor:pointer;
  background-color: #ff6699;
}

h1 {
  font-size: 1.2em;
  margin: 10px;
  display: inline-block;
}

h3 {
  font-size: 1em;
  margin: 10px;
  display: inline-block;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.button_tix {
  background: #cccccc;
  padding:2px;
  margin:3px;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  font-size: 10pt;
  position: relative;
  list-style: none;
  padding: 5px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.token_display {
  padding:3px;
  font-size: 8pt;
}

.tinyhref {
  font-size:6px;
}

.wallets {
  max-height:12vh;
  overflow:auto;
  border: 1px solid #b3e6cc;
  padding-left:5px;
}

.wallets span{
  font-size: 8pt;
}

.wallets li{
  padding:1px;
}

.accinput {
  width:380px;
}

.accbutton {
  border:1px solid black;
  background-color: #cccccc;
  padding:3px;
  margin:3px;
  width:auto;
}

.acchistory {
  border:1px solid black;
  background-color: #cccccc;
  padding:3px;
  margin:3px;
  width:auto;
}

.wallet_panels {
  background-color: #f8f8f8;
  padding:10px;
  border: 1px solid #b3e6cc;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #2a56d6, 5px 5px 3px #cccccc;
  margin:5px;
}

.wallet_panels input {
  padding-left:5px;
}

.wallet_panels input:focus {
  font-family: Tahoma, Geneva, sans-serif;
  color:#0307c1;
  padding-left:5px;
  background-color:#d4f7f3;
  border: 1px solid #b8cffc;
  box-shadow: 1px 1px #2a56d6
}

.panel_label {
  padding:3px;
}

.panel_input {
  padding:3px;
}

.accounts_panel {
  background: rgba(255, 255, 255, .5);
  padding:3px;
  margin:3px;
}

.sendegemred {
  color:#cccccc;
  font-weight:bold;
  border:1px solid black;
  background-color: #ff0000;
  padding:3px;
  margin:3px;
  width:auto;
}

.sendegem {
  color:#ffffff;
  font-weight:bold;
  border:1px solid black;
  background-color: #33cc33;
  padding:3px;
  margin:3px;
  width:auto;
}

.prepegem {
  border:1px solid black;
  background-color: #cccccc;
  padding:3px;
  margin:3px;
  width:auto;
}

.accsend {
  width:380px;
}

.pksend {
  width:505px;
}

.makewallet {
  border:1px solid black;
  background-color: #cccccc;
  padding:3px;
  margin:3px;
  width:auto;
}

.egem_addr {
  --background-color: #ccffeb;
  --font-size:8pt;
}
.egem_addr:hover {
  background-color: #66ffd9;
  font-family: Tahoma, Geneva, sans-serif;
  color:#0307c1;
  --margin:3px;
  padding:5px;
}
